# **Title: Datafun-06-eda**

### **Author: Westley Vance**

### **Date: 5/121/24**

### Purpose: Project 6 uses a combination of Python and Markdown to create an initial data story in a Jupyter Notebook. This project will look at data from the titanic data set that is built into seaborn.

## **Project**
### Imports:
##### The following code provides the imports for the project.

In [3]:
import seaborn as sns
import pandas as pd

### Loading the data set:
##### This loads the titanic data set and stores it as titanic_df. It then prints the head for the data set which consists of the first five entries from each column.

In [4]:

# Load the Titanic dataset
titanic_df = sns.load_dataset('titanic')

# Display the first few rows of the dataset
print(titanic_df.head())

#downloaded data set as .csv
titanic_df.to_csv('titanic.csv', index=False)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True